<!DOCTYPE html>
<!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Wed Oct 23 2024 14:35:36 GMT+0000 (Coordinated Universal Time)  -->
<html
  data-wf-page="67190835fb378f6f7e1d5e41"
  data-wf-site="67190834fb378f6f7e1d5d55"
>
  <head>
    <meta charset="utf-8" />
    <title>Страница не найдена</title>
    {% include 'meta.html' %}
  </head>
  <body>
    <div style="opacity: 0" class="page-wrapper">
      {% include 'sidebar.html' %}
      <div class="dashboard-main-section">
        <div class="sidebar-spacer"></div>
        <div class="dashboard-content utility-page-content">
          <div
            style="padding-top: 50px"
            class="dashboard-main-content utility-page-main-content"
          >
            <div>
              <div class="container-default w-container">
                <div
                  data-w-id="619efe17469a19c94a600b1500000000000b"
                  style="
                    -webkit-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 10%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="utility-page-content mg-bottom-0 w-form"
                >
                  <div class="card _404">
                    <div class="_404-not-found">404</div>
                    <h2 class="display-4 mg-bottom-8px">
                      Упсс! Страница не найдена
                    </h2>
                    <div class="inner-container _326px center">
                      <p class="mg-bottom-24px">
                        Возможно, вы указали неправильный адрес или страница, на
                        которую вы хотели зайти, устарела и была удалена.
                      </p>
                    </div>
                    <div class="flex-horizontal">
                      <div data-w-id="52abc31e-0d60-0d59-4bbb-4b01e7c648d0">
                        <a
                          href="{{ url_for('products_page') }}"
                          class="btn-primary large w-inline-block"
                        >
                          <div class="flex-horizontal gap-column-8px">
                            <div>На главную</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <div class="loading-bar-wrapper">
      <div class="loading-bar"></div>
    </div>

    {% include 'script.html' %}
    <script>
      function toggleProducts(locationId) {
        const productsTable = document.getElementById(`products-${locationId}`);
        if (
          productsTable.style.display === "none" ||
          productsTable.style.display === ""
        ) {
          productsTable.style.display = "block"; // Показываем таблицу
        } else {
          productsTable.style.display = "none"; // Скрываем таблицу
        }
      }
    </script>
  </body>
</html>
