<!DOCTYPE html>
<!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Wed Oct 23 2024 14:35:36 GMT+0000 (Coordinated Universal Time)  -->
<html
  data-wf-page="67190835fb378f6f7e1d5e41"
  data-wf-site="67190834fb378f6f7e1d5d55"
>
  <head>
    <meta charset="utf-8" />
    <title>Добавить продукт к поставщику</title>
    {% include 'meta.html' %}
  </head>
  <body>
    <div style="opacity: 0" class="page-wrapper">
      {% include 'sidebar.html' %}
      <div class="dashboard-main-section">
        <div class="sidebar-spacer"></div>
        <div class="dashboard-content">
          <div class="dashboard-main-content">
            <div class="container-default w-container">
              <h1>Добавить продукт к поставщику</h1>

              <div class="mg-bottom-24px">
                <div class="grid-1-column">
                  <div class="card overflow-hidden">
                    <div class="_2-items-wrap-container pd-32px---28px">
                      <div class="text-300 medium color-neutral-100">
                        Добавить продукт для поставщика {{ supplier.name }} :
                      </div>
                      <form method="POST" class="form-products">
                        <div
                          data-hover="true"
                          data-delay="0"
                          class="mg-sides-0 position-relative---z-index-1 w-dropdown"
                        >
                          <select
                            name="product"
                            required
                            class="small-dropdown-toggle w-dropdown-toggle"
                          >
                            <option value="" disabled selected>
                              Выберите продукт
                            </option>
                            {% for product in products %}
                            <option value="{{ product.id }}">
                              {{ product.name }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div
                          data-hover="true"
                          data-delay="0"
                          class="mg-sides-0 position-relative---z-index-1 w-dropdown form-padding-top"
                        >
                          <select
                            name="measurement"
                            required
                            class="small-dropdown-toggle w-dropdown-toggle"
                          >
                            <option value="" disabled selected>
                              Выбрать ед. изм.
                            </option>
                            {% for measurement in measurements %}
                            <option value="{{ measurement.id }}">
                              {{ measurement.name }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>

                        <div
                          data-hover="true"
                          data-delay="0"
                          data-w-id="9cc462d8-bb30-3faf-01e2-89a59eb05ad4"
                          class="mg-sides-0 position-relative---z-index-1 w-dropdown form-padding-top"
                        >
                          <button
                            class="btn-primary small w-inline-block"
                            type="submit"
                          >
                            Добавить продукт
                          </button>
                        </div>
                        <a
                          href="{{ url_for('suppliers_page') }}"
                          class="btn-primary w-inline-block form-margin-top"
                        >
                          <div class="flex-horizontal gap-column-6px">
                            <div>Назад</div>
                          </div>
                        </a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <div class="loading-bar-wrapper">
      <div class="loading-bar"></div>
    </div>

    {% include 'script.html' %}
  </body>
</html>
