<!DOCTYPE html>
<!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Wed Oct 23 2024 14:35:36 GMT+0000 (Coordinated Universal Time)  -->
<html
  data-wf-page="67190835fb378f6f7e1d5e41"
  data-wf-site="67190834fb378f6f7e1d5d55"
>
  <head>
    <meta charset="utf-8" />
    <title>Доступ к инвентаризации</title>
    {% include 'meta.html' %}
  </head>
  <body>
    <div style="opacity: 0" class="page-wrapper">
      {% include 'sidebar.html' %}
      <div class="dashboard-main-section">
        <div class="sidebar-spacer"></div>
        <div class="dashboard-content">
          <div class="dashboard-main-content">
            <div class="container-default w-container">
              <div id="w-node-_38b4a65e-7f82-4f13-d3fc-261e38ea4042-7e1d5e42">
                <div
                  id="w-node-_28f58b49-e289-bfad-3672-3ddb30359092-30359092"
                  class="grid-1-column"
                >
                  <div class="card overflow-hidden">
                    <div class="_2-items-wrap-container pd-32px---28px">
                      <div class="text-300 medium color-neutral-100">
                        Назначить доступ к инвентаризации для {{ user.username
                        }}
                      </div>
                    </div>
                    <div class="table-main-container">
                      <div class="recent-orders-table-row table-header">
                        <div
                          id="w-node-_81082dec-aeb1-55cb-ca1b-8966496bda6e-496bda6e"
                          class="flex align-center gap-column-6px"
                        >
                          <img
                            src="/static/images/order-table-header-icon-dashdark-webflow-template.svg"
                            loading="eager"
                            alt=""
                          />
                          <div class="text-50 semibold color-neutral-100">
                            Выберите Категории :
                          </div>
                        </div>
                      </div>
                      <form method="POST">
                        {% for location in locations %}
                        <div class="recent-orders-table-row">
                          <div class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <label
                                class="w-checkbox checkbox-field-wrapper mg-bottom-0"
                              >
                                <input
                                  type="checkbox"
                                  name="locations"
                                  value="{{ location.id }}"
                                  class="checkbox"
                                />
                                <span class="hidden-on-desktop w-form-label">
                                  {{ location.name }}
                                </span>
                              </label>
                            </div>
                            <div class="paragraph-small color-neutral-100">
                              {{ location.name }}
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                        <div style="margin: 20px">
                          <button
                            class="btn-primary small w-inline-block"
                            type="submit"
                          >
                            Назначить доступ
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% include 'footer.html' %}
        </div>
      </div>
    </div>
    <div class="loading-bar-wrapper">
      <div class="loading-bar"></div>
    </div>

    {% include 'script.html' %}
    <script>
      function toggleProducts(locationId) {
        const productsTable = document.getElementById(`products-${locationId}`);
        if (
          productsTable.style.display === "none" ||
          productsTable.style.display === ""
        ) {
          productsTable.style.display = "block"; // Показываем таблицу
        } else {
          productsTable.style.display = "none"; // Скрываем таблицу
        }
      }
    </script>
  </body>
</html>
