<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ dish.name }}</h1>

    {% if dish.image_url %}
    <img
      src="{{ url_for('static', filename=dish.image_url) }}"
      alt="{{ dish.name }}"
    />
    {% endif %}

    <p><strong>Технология приготовления:</strong></p>
    <p>{{ dish.preparation_steps }}</p>

    {% if dish.video_path %}
    <p><strong>Видео:</strong></p>
    <video width="560" height="315" controls>
      <source
        src="{{ url_for('static', filename=dish.video_url.split('static/')[1]) }}"
        type="video/mp4"
      />
      Ваш браузер не поддерживает воспроизведение видео.
    </video>
    {% endif %}

    <h3>Ингредиенты:</h3>
    <ul>
      {% for product in dish.products %}
      <li>
        {{ product.name }} - {{ product.quantity }} {{ product.measurement.name
        }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
