<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ dish.name }}</h1>
    <img src="{{ dish.image_url }}" alt="{{ dish.name }}" />
    <p><strong>Технология приготовления:</strong></p>
    <p>{{ dish.preparation_steps }}</p>

    {% if dish.video_url %}
    <p><strong>Видео:</strong></p>
    <iframe src="{{ dish.video_url }}" width="560" height="315"></iframe>
    {% endif %}

    <h3>Ингредиенты:</h3>
    <ul>
      {% for product in dish.products %}
      <li>{{ product.name }} - {{ dish_products.quantity }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
