<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Редактирование Поставщика</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Редактирование поставщика</h1>
    <form method="POST">
      <input
        type="text"
        name="supplier"
        placeholder="Название"
        value="{{ supplier.name }}"
        required
      />
      <button type="submit">Сохранить</button>
    </form>
  </body>
</html>
