<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Управление Инвентаризацией</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Приложение для управления инвентаризацией Ленина</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('products_page') }}">Продукты</a></li>
            <li><a href="{{ url_for('locations_page') }}">Категории</a></li>
            <li><a href="{{ url_for('inventory_page') }}">Инвентаризация</a></li>
            <li><a href="{{ url_for('suppliers_page') }}">Поставщики</a></li>
        </ul>
    </nav>

    <section>
        <h2>О приложении</h2>
        <p>
            Приложение для управления инвентаризацией разработано для эффективного отслеживания и управления вашими продуктами и их категориями. 
            С помощью этого приложения вы можете добавлять новые продукты, назначать им конкретные категории, указывать единицы измерения (шт, л, кг) 
            и легко вести учет своего инвентаря. В приложении также встроен калькулятор для быстрых расчетов.
        </p>
    </section>

    <section>
        <h2>Как пользоваться приложением</h2>
        <h3>Добавление и управление продуктами</h3>
        <p>
            Чтобы добавить новый продукт:
            <ol>
                <li>Перейдите на страницу <a href="{{ url_for('products_page') }}">Продукты</a>.</li>
                <li>Введите название продукта, выберите его категорию из выпадающего списка и укажите единицу измерения (шт, л, кг).</li>
                <li>Нажмите кнопку "Добавить Продукт", чтобы сохранить продукт.</li>
            </ol>
            Для редактирования или удаления продукта используйте кнопки "Редактировать" и "Удалить" рядом с каждым продуктом.
        </p>

        <h3>Управление категориями</h3>
        <p>
            Чтобы добавить новую категорию:
            <ol>
                <li>Перейдите на страницу <a href="{{ url_for('locations_page') }}">Категории</a>.</li>
                <li>Введите название категории.</li>
                <li>Нажмите кнопку "Добавить категорию", чтобы сохранить категорию.</li>
            </ol>
            Для редактирования или удаления категорий используйте кнопки "Редактировать" и "Удалить" рядом с каждой категорией. Примечание: Категории, 
            которые назначены продуктам, не могут быть удалены.
        </p>

        <h3>Управление инвентаризацией</h3>
        <p>
            Чтобы выполнить инвентаризацию:
            <ol>
                <li>Перейдите на страницу <a href="{{ url_for('inventory_page') }}">Инвентаризация</a>.</li>
                <li>Вы увидите таблицы для каждой категории с перечнем назначенных им продуктов.</li>
                <li>Введите количество каждого продукта в соответствующем поле.</li>
                <li>Нажмите кнопку "Записать данные", чтобы сохранить данные инвентаризации.</li>
                <li>Вы можете скачать отчет об инвентаризации в формате Excel, кликнув по ссылке "Скачать Отчет".</li>
            </ol>
        </p>

        <h3>Использование калькулятора</h3>
        <p>
            Встроенный калькулятор можно использовать для быстрых расчетов:
            <ol>
                <li>Введите числа с помощью кнопок с цифрами.</li>
                <li>Выберите операцию (+, -, *, /), которую нужно выполнить.</li>
                <li>Нажмите кнопку "=", чтобы получить результат.</li>
                <li>Используйте кнопку "C", чтобы очистить ввод.</li>
            </ol>
        </p>
    </section>
</body>
</html>