<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Категории</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Категории:</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Главная</a></li>
        <li><a href="{{ url_for('products_page') }}">Продукты</a></li>
        <li><a href="{{ url_for('inventory_page') }}">Инвентаризация</a></li>
      </ul>
    </nav>
    <form method="POST">
      <input
        type="text"
        name="location"
        placeholder="Введите название категории"
        required
      />
      <button type="submit">Добавить категорию</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td class="action-section">
            <a
              class="edit-button"
              href="{{ url_for('edit_location', location_id=location.id) }}"
              >Ред.</a
            >
            <form
              action="{{ url_for('delete_location', location_id=location.id) }}"
              method="POST"
            >
              <button
                class="delete-btn"
                type="submit"
                onclick="return confirm('Are you sure you want to delete this location?')"
              >
                Удалить
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if error_message %}
    <p class="error-message">{{ error_message }}</p>
    {% endif %}
  </body>
</html>
