<!DOCTYPE html>
<!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Wed Oct 23 2024 14:35:36 GMT+0000 (Coordinated Universal Time)  -->
<html
  data-wf-page="67190835fb378f6f7e1d5db8"
  data-wf-site="67190834fb378f6f7e1d5d55"
>
  <head>
    <meta charset="utf-8" />
    <title>Логин</title>
    {% include 'meta.html' %}
    <style>
      .w-webflow-badge {
        display: none !important;
      }
    </style>
  </head>
  <body style="opacity: 0" class="page-wrapper">
    <div class="dashboard-main-section">
      <div
        class="dashboard-content utility-page-content w-password-page w-form"
      >
        <form
          action="{{ url_for('login') }}"
          method="POST"
          id="email-form"
          name="email-form"
          class="dashboard-main-content utility-page-main-content w-password-page"
        >
          {{ form.hidden_tag() }}

          <div class="container-default width-100 w-container">
            <div class="card password-protected-card">
              <div>
                <img
                  src="/static/images/password-protected-icon-dashdark-webflow-template.svg"
                  alt="Password Protected - Dashdark X Webflow Template"
                  class="mg-bottom-16px"
                />
                <h1 class="display-4 mg-bottom-8px">Вход</h1>
                <div class="inner-container _326px center"></div>
                <div class="text-left">
                  <div class="mg-bottom-10px">
                    <div
                      id="w-node-e9ac457c-84bd-750a-d41f-aa5897e32169-7e1d5db8"
                      class="flex align-center gap-column-4px"
                    >
                      <img
                        src="/static/images/monthly-users-icon-dashdark-webflow-template.svg"
                        loading="eager"
                        alt=""
                      />
                      <div class="text-100 medium color-neutral-100">
                        Имя пользователя
                      </div>
                    </div>
                  </div>

                  <div class="w-layout-grid grid-1-column">
                    {{ form.username(class="input w-password-page w-input",
                    placeholder="Введите имя") }}
                  </div>

                  <div class="mg-bottom-10px">
                    <div
                      id="w-node-e9ac457c-84bd-750a-d41f-aa5897e32169-7e1d5db8"
                      class="flex align-center gap-column-4px"
                    >
                      <img
                        src="/static/images/password-icon-dashdark-webflow-template.svg"
                        loading="eager"
                        alt=""
                      />
                      <div class="text-100 medium color-neutral-100">
                        Пароль
                      </div>
                    </div>
                  </div>
                  <div class="w-layout-grid grid-1-column">
                    {{ form.password(class="input w-password-page w-input",
                    placeholder="Введите пароль") }}
                  </div>

                  <div
                    class="w-layout-grid grid-1-column"
                    style="margin-top: 20px"
                  >
                    {{ form.submit(class="btn-primary large w-password-page
                    w-button") }}
                  </div>
                  <a href="{{ url_for( 'register' ) }}">
                    <div
                      class="text-100 medium color-neutral-100"
                      style="
                        display: flex;
                        margin-top: 20px;
                        justify-content: center;
                      "
                    >
                      Зарегестрироваться
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Error messages if there are any form validation issues -->
          {% for field, errors in form.errors.items() %}
          <div class="alert alert-danger">
            {% for error in errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </form>
      </div>
    </div>
    <div class="loading-bar-wrapper">
      <div class="loading-bar"></div>
    </div>

    {% include 'script.html' %}
  </body>
</html>
