<table>
    <tr>
        <th>Имя пользователя</th>
        <th>Текущая роль</th>
        <th>Текущее заведение</th>
        <th>Изменить роль</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
        <td>{{ establishments[user.establishment_id] }}</td>
        <td>
            <form action="{{ url_for('set_role', user_id=user.id) }}" method="POST">
                <select name="role">
                    <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="пицца" {% if user.role == 'пицца' %}selected{% endif %}>Пицца</option>
                    <option value="сушист" {% if user.role == 'сушист' %}selected{% endif %}>Сушист</option>
                    <option value="повар" {% if user.role == 'повар' %}selected{% endif %}>Повар</option>
                    <option value="старший" {% if user.role == 'старший' %}selected{% endif %}>Старший</option>
            
                </select>
                <button type="submit">Изменить</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

